<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles.css" />
    <title>Lazar's TUT 8 Page</title>
  </head>

  <body>
    <h1>Laz's Blog</h1>
    <img class="my-image" src="../static/images/cat.gif" />
    <table>
      <tr>
        <th>Name</th>
        <th>Motto</th>
        <th>Quote</th>
        <th>Favourite Foods</th>
      </tr>
      <tr>
        <td>Lazar</td>
        <td>Something clever</td>
        <td>
          <p>A cool quote</p>
        </td>
        <td>
          <ul class="about-food">
            <li id="favourite">Pizza</li>
            <li>Burgers</li>
            <li>Fries</li>
          </ul>
        </td>
      </tr>
    </table>

    <p class="about-food">I really like eating Pizza!</p>

    <button id="dont-click">DONT CLICK ME</button>
    <button id="change-mode">CHANGE MODE</button>

    <ol id="todo-list"></ol>

    <input type="text" id="todo-input" />
    <input type="submit" id="todo-submit" />

    <script src="../static/index.js"></script>
  </body>
</html>
